{% extends 'PetAdoption/base.html'%}
{% load static %}




{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css'%}">

<section id="det">
    <div class="container-fluid">
        <div class="m-heading">
            <h1>{{object.breed}}</h1>
        </div>
        <div class="row">
           
            <div class="col-lg-5">
                <div class="det-img">
                  <img src="{{object.img.url}}" alt="pet image">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="details" style="margin-left:300px">
                    <h2>Details</h2>
                    <h5>Breed:  {{object.breed}}</h5>
                    <h5>Age:  {{object.age}}</h5>
                    <h5>Shelter:  {{object.shelter}}</h5>
                    <a class="btn btn-primary" style="margin-top:50px; margin-left:100px;" href="{% url 'checkout' object.id %}" role="button">Continue to Checkout </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}