{% extends 'PetAdoption/base.html'%}
{% load static %}


{% load crispy_forms_tags %}

{% block content %}
<section id="login">
  <div class="container">
      <div class="row" style="height:150vh">
          <div class="item" style="margin-left:400px; margin-top:80px;margin-bottom:80px;">
              <div class="card" style="width: 20rem; height: 140vh;">
                  <div class="card-body">
                    <h5 class="card-title" style="margin-left:100px; margin-bottom:35px;">Register</h5>
                    <div class="in-form">
                      <form class="mx-1 mx-md-4" method="POST">
                        {% csrf_token %}
                        
                        {{form|crispy}}
                        
                        <div class="register-btn mx-4 mb-3">
                          <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div> 
                      </form>            
                    </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</section>
  {% endblock %}